<!DOCTYPE html>
<html>
<head>
  <title>Flexx Next Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>Here we can use haml or slim template files</h3>
<h5>Todo: - add header, footer, sidebar etc.</h5>

<%= yield %>

</body>
</html>
