<header class="header bg-ui-general">
  <div class="header-info">
    <h1 class="header-title">
      Manage your <strong>locations</strong>
      <small>Take action and view analytics for your locations.</small>
    </h1>
  </div>

  <div class="header-action">
    <nav class="nav">
      <a class="nav-link active" data-toggle="tab" href="#tab-locations">Locations</a>
      <a class="nav-link" data-toggle="tab" href="#tab-analytics">Analytics</a>
    </nav>
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="quickview" data-target="#qv-add-task"><i class="ti-plus"></i></button>
      <button class="btn btn-info btn-float" data-toggle="quickview" data-target="#qv-add-task"><i class="ti-announcement"></i></button>
    </div>
  </div>
</header><!--/.header -->


<div class="main-content">
  <div class="tab-content">
    
    <div class="tab-pane fade active show" id="tab-locations">
      <div class="row">
        
        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox" checked>
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Charlotte</a></h5>
              <span>Charlotte, NC</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox" checked>
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Dallas</a></h5>
              <span>Dallas, TX</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox" checked>
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">The Colony</a></h5>
              <span>The Colony, TX</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Huntsville</a></h5>
              <span>Huntsville, AL</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Las Vegas</a></h5>
              <span>Las Vegas, NV</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Jacksonville</a></h5>
              <span>Jacksonville, FL</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Overland Park</a></h5>
              <span>Overland Park, KS</span>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="ti-more-alt rotate-90 text-muted"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-comments"></i> Messages</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-fw fa-remove"></i> Remove</a>
                </div>
              </div>
            </div>
            <div class="text-center pt-3">
              <a href="#qv-gym" data-toggle="quickview">
                <img class="" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/top-golf-logo.jpg">
              </a>
              <h5 class="mt-3 mb-0"><a class="hover-primary" href="#">Salt Lake City</a></h5>
              <span>Salt Lake City, UT</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade" id="tab-analytics">
      <div class="card">
        <div class="card-header">
          <h3>Global analytics widgets go here</h3>  
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 ">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"><strong>Top</strong> Locations</h5>

              <ul class="card-controls">
                <li class="dropdown">
                  <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item active" href="#">Today</a>
                    <a class="dropdown-item" href="#">Yesterday</a>
                    <a class="dropdown-item" href="#">Last week</a>
                    <a class="dropdown-item" href="#">Last month</a>
                  </div>
                </li>
                <li><a class="card-btn-reload" href="../assets/data/general.html" title="Refresh" data-provide="tooltip"><i class="fa fa-circle-thin"></i></a></li>
              </ul>
            </div>

            <div class="card-body card-body">
              <p>This is a brief summary of the locations who are performing the best.</p>

              <div class="flexbox mt-70">
                <div data-provide="peity" data-type="bar" data-height="130" data-width="90" data-fill="#33cabb,#48b0f7,#fdd501">953,813,369</div>

                <ul class="list-inline align-self-end text-muted text-right mb-0">
                  <li>OPEX Hooksett <span class="badge badge-ring badge-primary ml-2"></span></li>
                  <li>OPEX North Vegas <span class="badge badge-ring badge-info ml-2"></span></li>
                  <li>OPEX Omaha West <span class="badge badge-ring badge-yellow ml-2"></span></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>  
</div>

<!-- QUICKVIEW: Gym Detail -->
<div id="qv-gym" class="quickview quickview-xxl">
  <header class="quickview-header">
    <p class="quickview-title lead">Charlotte</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">

    <div class="card card-body">
      <h6>
        <span class="text-uppercase">Monthly Recurring Revenue (MRR)</span>
      </h6>
      <br>
      <p class="fs-28 fw-100">$75,000</p>

      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 75%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="text-gray fs-12"><i class="ti-stats-up text-success mr-1"></i> 18% increase from last month</div>
    </div>

    <div class="card card-body pt-0">
      <h6>
        <span class="text-uppercase">Total Memberships</span>
      </h6>
      <br>
      <p class="fs-28 fw-100">1,562</p>

      <div class="fs-16 flexbox align-items-center">
        <h5 class="fw-100">Lifetime Membership</h5>
        <span>1,000</span>
      </div>
      <div class="fs-16 flexbox align-items-center">
        <h5 class="fw-100">Family Fun Pass</h5>
        <span>340</span>
      </div>
      <div class="fs-16 flexbox align-items-center">
        <h5 class="fw-100">Platinum Membership</h5>
        <span>42</span>
      </div>
      <div class="fs-16 flexbox align-items-center">
        <h5 class="fw-100">Corporate Membership</h5>
        <span>180</span>
      </div>
    </div>

    <div class="card card-body pt-0">
      <h6>
        <span class="text-uppercase">New Memberships this month</span>
      </h6>
      <br>
      <p class="fs-28 fw-100">27</p>

      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 95%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="text-gray fs-12"><i class="ti-stats-up text-success mr-1"></i> #2 among facilities</div>
    </div>

    <div class="card card-body pt-0">
      <h6>
        <span class="text-uppercase">Failed / Missing Payments</span>
      </h6>
      <br>
      <p class="fs-28 fw-100">2<span class="float-right"><a class="btn btn-xs btn-warning" href="#">Resolve</a></span></p>

      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

  </div>

  <footer class="quickview-footer flexbox">
    <div>
      <button class="btn btn-w-md btn-bold btn-primary">VIEW FACILITY</button>
    </div>
    <div>
      <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
    </div>
  </footer>
</div>