<div class="panel panel-default">
    <div class="panel-heading">
        <h4>My Plugin Settings</h4>
    </div>
    <div class="panel-body">
        <%= form_tag(url_for(action: :save_settings), class: 'validate') do %>
            <div class="form-group">
                <label>Dashboard Route</label>
                <%= text_field_tag 'options[dashboard_route]', @plugin.get_option('dashboard_route'), class: 'form-control required' %>
            </div>
            <%= render partial: "camaleon_cms/admin/settings/custom_fields/render", locals: {record: @plugin, field_groups: @plugin.get_field_groups} %>
            <div class="form-group text-right">
                <%= submit_tag 'Save Settings', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>