<header class="header">
  <div class="header-info">
    <h2 class="header-title">Your <strong>Recipes</strong></h2>
  </div>
  <div class="header-action">
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="modal" data-target="#modal_new_recipe"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">

  <p class="lead text-center text-fade">Active recipes</p>
  <div class="card b-1 hover-shadow-2 mb-20">
    <a class="media card-body" href="/admin/next/recipes/new">

      <div class="media-body">
        <div class="mb-2">
          <span class="fs-20 pr-16">Recipe Title</span>
        </div>
        <small class="fs-16 fw-300 ls-1">Brief recipe description</small>
      </div>

      <div class="media-right text-right d-none d-md-block">
        <p class="fs-14 text-fade mb-12">
          <span class="badge badge-success text-uppercase no-radius ls-1 opacity-75">Consult Form</span>
        </p>
        <span class="text-fade fs-12">Total tasks: <strong>9</strong></span>
      </div>
    </a>
    <footer class="card-footer flexbox align-items-center">
      <div>
        <strong>Created on:</strong>
        <span>Jan 21, 2017</span>
      </div>
      <div class="card-hover-show">
        <a class="btn btn-xs fs-10 btn-bold btn-info" href="#qv-recipe-overview" data-toggle="quickview">Quickview</a>
        <a class="btn btn-xs fs-10 btn-bold btn-danger recipe-delete" href="#">Delete</a>
      </div>
    </footer>
  </div>

  <br>
  <div class="divider text-uppercase fw-500">Drafts</div>

  <div class="card b-1 hover-shadow-2 mb-20">
    <div class="media card-body">

      <div class="media-body">
        <div class="mb-2">
          <span class="fs-20 pr-16">Recipe title</span>
        </div>
        <small class="fs-16 fw-300 ls-1">The brief description of the recipe.</small>
      </div>

      <div class="media-right text-right d-none d-md-block">
        <span class="text-fade fs-12">Total tasks: <strong>3</strong></span>
      </div>
    </div>

    <footer class="card-footer flexbox align-items-center">
      <div>
        <strong>Created on:</strong>
        <span>Jan 21, 2017</span>
      </div>
      <div class="card-hover-show">
        <a class="btn btn-xs fs-10 btn-bold btn-info" href="#qv-recipe-overview" data-toggle="quickview">Quickview</a>
        <a class="btn btn-xs fs-10 btn-bold btn-danger recipe-delete" href="#">Delete</a>
      </div>
    </footer>
  </div>

</div>

<div id="qv-recipe-overview" class="quickview quickview-lg backdrop-light">
  <header class="quickview-header">
    <p class="quickview-title lead"><strong>Recipe Title</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block">
      <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20">
        <li class="timeline-block">
          <div class="timeline-point">
            <a href="#qv-edit-task" data-toggle="quickview"><span class="badge badge-ring badge-primary"></span></a>
          </div>
          <div class="timeline-content">
            <time datetime="2018">Immediately</time>
            <p>Add lead to <a href="#">mailing list</a></p>
          </div>
        </li>

        <li class="timeline-block">
          <div class="timeline-point">
            <span class="badge badge-ring badge-info"></span>
          </div>
          <div class="timeline-content">
            <time datetime="2018">after 1 day</time>
            <p>Call and schedule initial consult</p>
          </div>
        </li>

      </ol>
    </div>
  </div>

  <footer class="quickview-footer">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-secondary" data-dismiss="quickview">Close</button>
  </footer>
</div>

<!-- MODAL: New recipe modal -->
<div class="modal modal-top fade" id="modal_new_recipe" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New recipe</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="card form-type-combine">

          <div class="card-body">

            <div class="form-groups-attached">

              <div class="form-group">
                <label>Recipe Name</label>
                <input class="form-control" type="text">
              </div>

              <div class="form-group">
                <label for="textarea">Recipe description</label>
                <textarea class="form-control" id="textarea" rows="6"></textarea>
              </div>

            </div>
          </div>
        </form>
        <div class="text-center">
          <p>(You can update this later)</p>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="/admin/next/recipes/new" class="btn btn-bold btn-pure btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>