<header class="header">

  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>Engage</strong></h2>
    </div>
  </div>

</header>

<div class="main-content">

  <div class="row">

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">Message Blast</h4>
          <a class="btn btn-sm btn-flat btn-info" href="/admin/next/messages">Go <i class="ti-arrow-right"></i></a>
        </header>

        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">SMS Conversations</h4>
          <a class="btn btn-sm btn-flat btn-info" href="/admin/next/conversations">Go <i class="ti-arrow-right"></i></a>
        </header>

        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">Stock Messages</h4>
          <a class="btn btn-sm btn-flat btn-info" href="/admin/next/stocks">Go <i class="ti-arrow-right"></i></a>
        </header>

        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">Basic Campaign</h4>
          <a class="btn btn-sm btn-flat btn-info" href="/admin/next/campaigns">Go <i class="ti-arrow-right"></i></a>
        </header>

        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card card-transparent b-1 h-200px">
        <header class="card-header">
          <h4 class="card-title">Recipes</h4>
          <a class="btn btn-sm btn-flat btn-info" href="/admin/next/recipes">Go <i class="ti-arrow-right"></i></a>
        </header>

        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>

  </div>
</div>
