<div class="page-header full-content">
  <div class="row">
    <div class="col-sm-6">
      <h1>Contacts <small>short description</small></h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><i class="ion-home"></i></a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#" class="active">Blank Page</a></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title"><h4>Groups</h4></div>
      </div><!--.panel-heading-->
      <div class="panel-body without-padding">

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="col-md-4">
            <h4>List</h4>
          </div>  
          <div class="col-md-8">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-clouds"><input type="radio" name="pleasure"> Option 1
              </label>
              <label class="btn btn-clouds active"><input type="radio" name="pleasure" checked> Option 2 (pre-checked)</label>
              <label class="btn btn-clouds"><input type="radio" name="pleasure"> Option 3</label>
            </div><!--.btn-group-->
          </div>
        </div>
      </div><!--.panel-heading-->
      <div class="panel-body without-padding">
        <ul class="list-material">
          <li class="has-action-left has-action-right">
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="title">Amber Guerrero</span>
                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
              </div>
              <div class="list-action-right">
                <span class="top">15 min</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right">
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="title">Lawrence Weaver</span>
                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
              </div>
              <div class="list-action-right">
                <span class="top">2 hr</span>
                <i class="ion-android-done bottom"></i>
              </div>
            </a>
          </li>
          <li class="has-action-left has-action-right">
            <a href="#" class="visible">
              <div class="list-action-left">
                <img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
              </div>
              <div class="list-content">
                <span class="title">Michelle Wade</span>
                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
              </div>
              <div class="list-action-right">
                <span class="top">6 hr</span>
                <i class="ion-android-volume-off bottom"></i>
              </div>
            </a>
          </li>
        </ul>
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-->
</div><!--.row-->