<header class="header bg-ui-general">
  <div class="header-info">
    <h1 class="header-title">
      <strong>Contacts</strong>
      <small>Subtitle for page.</small>
    </h1>
  </div>

  <div class="header-action">
    <nav class="nav">
      <a class="nav-link active" href="userlist.html">List</a>
      <!-- <a class="nav-link" href="userlist-grid.html">Grid</a> -->
    </nav>
  </div>
</header><!--/.header -->

<!-- Page aside 
<aside class="aside aside-expand-md">
  <div class="aside-body">

    <div class="aside-block">
      <div class="flexbox align-items-center mb-1">
        <h6 class="aside-title fs-13">Groups</h6>
        <a class="float-right text-lighter hover-success" href="#" data-provide="tooltip" data-title="Create New Group" data-toggle="modal" data-target="#modal-add-group"><i class="ti-plus"></i></a>
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="badge badge-ring badge-danger"></span>
            <span>Admin</span>
          </a>
          <a class="nav-action hover-info" href="#" data-provide="tooltip" data-title="Edit"><span class="ti-pencil"></span></a>
          <a class="nav-action hover-danger delete-group" href="#" data-provide="tooltip" data-title="Remove"><span class="ti-close"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="badge badge-ring badge-warning"></span>
            <span>Publisher</span>
          </a>
          <a class="nav-action hover-info" href="#" data-provide="tooltip" data-title="Edit"><span class="ti-pencil"></span></a>
          <a class="nav-action hover-danger delete-group" href="#" data-provide="tooltip" data-title="Remove"><span class="ti-close"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="badge badge-ring badge-info"></span>
            <span>Moderator</span>
          </a>
          <a class="nav-action hover-info" href="#" data-provide="tooltip" data-title="Edit"><span class="ti-pencil"></span></a>
          <a class="nav-action hover-danger delete-group" href="#" data-provide="tooltip" data-title="Remove"><span class="ti-close"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="badge badge-ring badge-purple"></span>
            <span>Customer</span>
          </a>
          <a class="nav-action hover-info" href="#" data-provide="tooltip" data-title="Edit"><span class="ti-pencil"></span></a>
          <a class="nav-action hover-danger delete-group" href="#" data-provide="tooltip" data-title="Remove"><span class="ti-close"></span></a>
        </li>
      </ul>
    </div>


  </div>

  <button class="aside-toggler"></button>
</aside> -->

<div class="main-content">
  <div class="card card-shadowed">
    <form class="lookup lookup-huge">
      <input class="no-radius no-border" type="text" placeholder="Try searching for names, tags...">
    </form>
  </div>

  <div class="media-list media-list-divided media-list-hover" data-provide="selectall">

    <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16 pl-20">
      <div class="flexbox align-items-center">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label"></label>
        </div>

        <span class="divider-line mx-1"></span>

        <div class="dropdown">
          <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">Move to</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><span class="badge badge-ring badge-danger mr-1"></span> Admin</a>
            <a class="dropdown-item" href="#"><span class="badge badge-ring badge-warning mr-1"></span> Publisher</a>
            <a class="dropdown-item" href="#"><span class="badge badge-ring badge-info mr-1"></span> Moderator</a>
            <a class="dropdown-item" href="#"><span class="badge badge-ring badge-purple mr-1"></span> Customer</a>
          </div>
        </div>

        <div class="dropdown d-none d-sm-block">
          <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">Sort by</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Date</a>
            <a class="dropdown-item" href="#">Name</a>
            <a class="dropdown-item" href="#">Group</a>
            <a class="dropdown-item" href="#">Popular</a>
          </div>
        </div>

      </div>
    </header>


    <div class="media-list-body bg-white b-1">
      <div class="media align-items-center">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label"></label>
        </div>

        <span class="badge badge-dot badge-danger"></span>

        <a class="flexbox flex-grow gap-items text-truncate" href="#qv-user-details" data-toggle="quickview">
          <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png" alt="...">

          <div class="media-body text-truncate">
            <h6>
              Maryam Amiri
              <small class="sidetitle">Online</small>
            </h6>
            <small>
              <span>maryam.amiri@gmail.com</span>
            </small>
          </div>
        </a>

        <div class="dropdown">
          <a class="text-lighter" href="#" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-commenting"></i> Message</a>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-envelope"></i> Email</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-trash"></i> Delete</a>
          </div>
        </div>
      </div>



      <div class="media align-items-center">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <label class="custom-control-label"></label>
        </div>

        <span class="badge badge-dot badge-danger opacity-0"></span>

        <a class="flexbox flex-grow gap-items text-truncate" href="#qv-user-details" data-toggle="quickview">
          <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/User_Avatar_2.png" alt="...">

          <div class="media-body text-truncate">
            <h6>Hossein Shams</h6>
            <small>
              <span>hossein.shams@yahoo.com</span>
              <span class="divider-dash">(256) 875-6579</span>
            </small>
          </div>
        </a>

        <div class="dropdown">
          <a class="text-lighter" href="#" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-phone"></i> Call</a>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-commenting"></i> Message</a>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-envelope"></i> Email</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-fw fa-trash"></i> Delete</a>
          </div>
        </div>
      </div>

    </div>


    <footer class="flexbox align-items-center py-20">
      <span class="flex-grow text-right text-lighter pr-2">1-10 of 1,853</span>
      <nav>
        <a class="btn btn-sm btn-square disabled" href="#"><i class="ti-angle-left"></i></a>
        <a class="btn btn-sm btn-square" href="#"><i class="ti-angle-right"></i></a>
      </nav>
    </footer>

  </div>
</div>

<div class="fab fab-fixed">
  <button class="btn btn-float btn-danger" data-toggle="button">
    <i class="fab-icon-default ti-arrow-up"></i>
    <i class="fab-icon-active ti-close"></i>
  </button>

  <ul class="fab-buttons">
    <li><a class="btn btn-float btn-sm btn-info" href="#qv-form" data-toggle="quickview"><i class="fa fa-user"></i></a></li>
    <li><a class="btn btn-float btn-sm btn-info" href="#"><i class="fa fa-clipboard"></i></a></li>
    <li><a class="btn btn-float btn-sm btn-info" href="#"><i class="fa fa-calendar"></i></a></li>    
  </ul>
</div>

<!------------------------------------- MODALS ---------------------------------------->

<!-- Modal - Add new group -->
<div class="modal modal-top fade" id="modal-add-group" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body pt-30">
        <input class="form-control" type="text" placeholder="Group name">
        <br>
        <div class="text-center">
          <div class="color-selector color-selector-sm">
            <label>
              <input type="radio" name="color-group" checked>
              <span class="bg-primary"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-success"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-info"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-warning"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-danger"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-purple"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-pink"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-yellow"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-brown"></span>
            </label>

            <label>
              <input type="radio" name="color-group">
              <span class="bg-dark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary">Add group</button>
      </div>
    </div>
  </div>
</div>


<!-- Quickview - User detail -->
<div id="qv-user-details" class="quickview quickview-lg">
  <div class="quickview-body">

    <div class="card card-inverse bg-img" style="background-image: url(../assets/img/gallery/thumb/2.jpg);">
      <div class="flexbox px-20 pt-20">
        <label class="toggler text-white">
          <input type="checkbox">
          <i class="fa fa-star"></i>
        </label>

        <a class="text-white fs-20 lh-1" href="#"><i class="fa fa-trash"></i></a>
      </div>

      <div class="card-body text-center pb-50">
        <a href="#">
          <img class="avatar avatar-xxl avatar-bordered" src="../assets/img/avatar/1.jpg">
        </a>
        <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#">Maryam Amiri</a></h4>
        <span><i class="fa fa-map-marker w-20px"></i> San Fransisco</span>
      </div>
    </div>

    <div class="quickview-block form-type-material">
      <div class="form-group">
        <input type="text" class="form-control" value="Maryame Amiri">
        <label>Name</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" value="maryam.amiri@gmail.com">
        <label>Email Address</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" value="(123) 456-7890">
        <label>Phone Number</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" value="thetheme.io">
        <label>Website</label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" value="San Fransisco">
        <label>Location</label>
      </div>
    </div>
  </div>

  <footer class="p-12 text-right">
    <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>
    <button class="btn btn-flat btn-primary" type="submit">Save changes</button>
  </footer>
</div>

<!-- New User Form -->
<div id="qv-form" class="quickview quickview-lg">
  <header class="quickview-header">
    <p class="quickview-title lead">New Contact</p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <form class="quickview-block form-type-line">

      <br>
      <div class="form-group">
        <input class="form-control" type="text" placeholder=First "Name">
      </div>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Last Name">
      </div>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Email">
      </div>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Phone Number">
      </div>
      <br>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <label class="custom-control-label">I agree to <a class="text-primary" href="#">terms and conditions</a>.</label>
      </div>

    </form>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-primary" type="submit">Add</button>
    <button class="btn btn-secondary" type="button">Cancel</button>
  </footer>
</div>