<div class="page-header full-content bg-red" style="min-height: 141px;">
  <div class="row">
    <div class="col-sm-6">
      <h1>Paulo Castro <small>Prospect</small></h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb">
        <li><a href="#"><i class="ion-home"></i></a></li>
        <li><a href="#">Contacts</a></li>
      </ol>
    </div>
  </div>

  <div class="header-tabs scrollable-tabs sticky">
    <ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
      <li class="active"><a href="#activity" data-toggle="tab" class="btn-ripple">Activity</a></li>
      <li><a href="#about" data-toggle="tab" class="btn-ripple">About</a></li>
    </ul>
  </div>

</div>

<div class="row user-profile">
  <div class="col-md-12">
    <div class="tab-content without-border">

      <div id="activity" class="tab-pane active">
        <div class="row">
          <div class="panel">
            <div class="panel-heading">
              <div class="panel-title">
                <h4>TIMELINE</h4>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3">
                  Interactions
                </div>
                <div class="col-md-9">
                  <div id="contact_timeline" class="timeline single">
                    <div class="frame">
                      <div class="timeline-badge">
                        <i class="ion-calendar"></i>
                      </div><!--.timeline-badge-->
                      <span class="timeline-date">March</span>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <button type="button" class="btn btn-default btn-lg btn-block btn-ripple timeline-event" data-toggle="modal" data-target="#modal_timeline_text">
                        <div class="timeline-badge">
                          <i class="ion-android-chat"></i>
                        </div><!--.timeline-badge-->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="timeline-date">Today 1:23pm</span>
                          </div>
                          <div class="col-md-6 text-right">
                            <h5><span class="label label-success">Opened</span></h5>
                          </div>
                        </div>
                        <div class="timeline-content">
                          <p class="margin-bottom-1 truncate-single">This is a system-generated activity created from logging a text message with the contact.</p>
                        </div><!--.timeline-content-->
                      </button>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <button type="button" class="btn btn-default btn-lg btn-block btn-ripple timeline-event" data-toggle="modal" data-target="#modal_timeline_phone">
                        <div class="timeline-badge">
                          <i class="ion-android-call"></i>
                        </div><!--.timeline-badge-->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="timeline-date">Yesterday 1:23pm</span>
                          </div>
                          <div class="col-md-6 text-right">
                            <h5><span class="label label-info">Left Voicemail</span></h5>
                          </div>
                        </div>
                        <div class="timeline-content"> 
                          <p class="margin-bottom-1 truncate-single">This is a system-generated activity created from logging a phone call with the contact.</p>
                        </div><!--.timeline-content-->
                      </button>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <div class="timeline-badge">
                        <i class="ion-calendar"></i>
                      </div><!--.timeline-badge-->
                      <span class="timeline-date">January</span>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <button type="button" class="btn btn-default btn-lg btn-block btn-ripple timeline-event" data-toggle="modal" data-target="#modal_timeline_email">
                        <div class="timeline-badge">
                          <i class="ion-email"></i>
                        </div><!--.timeline-badge-->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="timeline-date">January 19, 2018 1:23pm</span>
                          </div>
                          <div class="col-md-6 text-right">
                            <h5><span class="label label-warning">Unopened</span></h5>
                          </div>
                        </div>
                        <div class="timeline-content">
                          <p class="margin-bottom-1 truncate-single">This is a system-generated activity created from logging an email with the contact.</p>
                        </div><!--.timeline-content-->
                      </button>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <button type="button" class="btn btn-default btn-lg btn-block btn-ripple timeline-event" data-toggle="modal" data-target="#modal_timeline_inperson">
                        <div class="timeline-badge">
                          <i class="ion-person-stalker"></i>
                        </div><!--.timeline-badge-->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="timeline-date">January 19, 2018 1:23pm</span>
                          </div>
                          <div class="col-md-6 text-right">
                          </div>
                        </div>
                        <div class="timeline-content">
                          <p class="margin-bottom-1 truncate-single">This is a user-generated activity logging an in-person interaction with the person.</p>
                        </div><!--.timeline-content-->
                      </button>
                    </div><!--.frame-->
  
                    <div class="frame">
                      <button type="button" class="btn btn-default btn-lg btn-block btn-ripple timeline-event" data-toggle="modal" data-target="#modal_timeline_note">
                        <div class="timeline-badge">
                          <i class="ion-android-clipboard"></i>
                        </div><!--.timeline-badge-->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="timeline-date">January 19, 2018 1:23pm</span>
                          </div>
                          <div class="col-md-6 text-right">
                          </div>
                        </div>
                        <div class="timeline-content">
                          <p class="margin-bottom-1 truncate-single">This is a user-generated activity logging a custom note.</p>
                        </div><!--.timeline-content-->
                      </button>
                    </div><!--.frame-->
  
                  </div><!--.timeline-->
                  <div class="text-center">
                    <button type="button" class="btn btn-primary button-striped button-full-striped btn-ripple">More...</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div><!--.row-->
      </div>

      <div id="about" class="tab-pane">
        <div class="row">
          <div class="col-md-8">
            <div class="legend">Contact Information</div>
            <div class="row">
              <div class="col-md-3">Email</div><!--.col-md-3-->
              <div class="col-md-9">info@teamfox.com</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Phone</div><!--.col-md-3-->
              <div class="col-md-9">202-555-0173</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Address</div><!--.col-md-3-->
              <div class="col-md-9">2002 Holcombe Boulevard<br>Houston, TX 77030 </div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Birthday</div><!--.col-md-3-->
              <div class="col-md-9">July 17, 1987</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Gender</div><!--.col-md-3-->
              <div class="col-md-9">Male</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="legend">Details</div>
            <div class="row">
              <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Where did the contact come from?">Source</div><!--.col-md-3-->
              <div class="col-md-9">Website contact form</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Date of initial contact">Initial Contact</div><!--.col-md-3-->
              <div class="col-md-9">January 2, 2017</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Where is the contact at in the pipeline?">Status</div><!--.col-md-3-->
              <div class="col-md-9">Engaged</div><!--.col-md-9-->
            </div>
            <div class="row">
              <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Date of initial contact">Tags</div><!--.col-md-3-->
              <div class="col-md-9">January 2, 2017</div><!--.col-md-9-->
            </div>
          </div>

          <div class="col-md-4 margin-top-30">
            <div class="note note-primary note-top-striped">
              <h4>Highlights</h4>
              <p>This is an open text area for a user to add special notes about the contact. Examples may be marital status, occupation, fitness history, etc.</p>
            </div><!--.note-->
          </div>
        </div>
      </div>
    </div><!--.tab-content-->
  </div><!--.col-->
</div><!--.row-->

<!-- ____________________________ MODALS __________________________________ -->

<!-- TIMELINE - TEXT -->
<div class="modal fade full-height from-right" id="modal_timeline_text" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">TEXT <span style="font-size: 15px;
          font-style: italic;">with Paulo Castro</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="legend">Details</div>
            <div class="row">
              <div class="col-md-3">Date</div><!--.col-md-3-->
              <div class="col-md-9">January 20, 2018 1:23pm</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Logged by</div><!--.col-md-3-->
              <div class="col-md-9">Joe Tebaldi</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Outcome</div><!--.col-md-3-->
              <div class="col-md-9"><span class="label label-success">Opened</span></div><!--.col-md-9-->
            </div><!--.row-->
            <div class="legend">Message</div>
            <div class="row">
              <div class="col-md-12">
                <div class="note note-info note-left-striped">
                  <p>This is the body of the text message that was sent.</p>
                </div>
              </div>
            </div><!--.row-->
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat-primary" data-dismiss="modal">DONE</button>
      </div>
    </div>
  </div>
</div><!--.modal-->

<!-- TIMELINE - PHONE -->
<div class="modal fade full-height from-right" id="modal_timeline_phone" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">CALL <span style="font-size: 15px;
          font-style: italic;">with Paulo Castro</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="legend">Details</div>
            <div class="row">
              <div class="col-md-3">Date</div><!--.col-md-3-->
              <div class="col-md-9">January 20, 2018 1:23pm</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Logged by</div><!--.col-md-3-->
              <div class="col-md-9">Joe Tebaldi</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Outcome</div><!--.col-md-3-->
              <div class="col-md-9"><span class="label label-warning">Left Voicemail</span></div><!--.col-md-9-->
            </div><!--.row-->
            <div class="legend">Notes</div>
            <div class="row">
              <div class="col-md-12">
                <div class="note note-info note-left-striped">
                  <p>These are any notes the user took asociated with that phone call.</p>
                </div>
              </div>
            </div><!--.row-->
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat-primary" data-dismiss="modal">DONE</button>
      </div>
    </div>
  </div>
</div><!--.modal-->

<!-- TIMELINE - EMAIL -->
<div class="modal fade full-height from-right" id="modal_timeline_email" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">EMAIL <span style="font-size: 15px;
          font-style: italic;">with Paulo Castro</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="legend">Details</div>
            <div class="row">
              <div class="col-md-3">Date</div><!--.col-md-3-->
              <div class="col-md-9">January 20, 2018 1:23pm</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Logged by</div><!--.col-md-3-->
              <div class="col-md-9"><i>Campaign:</i> Sample Campaign</div><!--.col-md-9-->
            </div><!--.row-->
            <div class="row">
              <div class="col-md-3">Outcome</div><!--.col-md-3-->
              <div class="col-md-9"><span class="label label-danger">Unopened</span></div><!--.col-md-9-->
            </div><!--.row-->
            <div class="legend">Message</div>
            <div class="row">
              <div class="col-md-12">
                <div class="note note-info note-left-striped">
                  <p><strong>Subject line</strong></p>
                  <p>This is the body of the email message.</p>
                </div>
              </div>
            </div><!--.row-->
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat-primary" data-dismiss="modal">DONE</button>
      </div>
    </div>
  </div>
</div><!--.modal-->

<!-- TIMELINE - In PERSON -->
<div class="modal fade full-height from-right" id="modal_timeline_inperson" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">VISIT <span style="font-size: 15px;
            font-style: italic;">with Paulo Castro</span></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="legend">Details</div>
              <div class="row">
                <div class="col-md-3">Date</div><!--.col-md-3-->
                <div class="col-md-9">January 20, 2018 1:23pm</div><!--.col-md-9-->
              </div><!--.row-->
              <div class="row">
                <div class="col-md-3">Logged by</div><!--.col-md-3-->
                <div class="col-md-9">Joe Tebaldi</div><!--.col-md-9-->
              </div><!--.row-->
              <div class="legend">Notes</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="note note-info note-left-striped">
                    <p>These are notes </p>
                  </div>
                </div>
              </div><!--.row-->
            </div>
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-flat-primary" data-dismiss="modal">DONE</button>
        </div>
      </div>
    </div>
  </div><!--.modal-->

  <!-- TIMELINE - Custom Note -->
<div class="modal fade full-height from-right" id="modal_timeline_note" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">NOTE <span style="font-size: 15px;
            font-style: italic;">for Paulo Castro</span></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="legend">Details</div>
              <div class="row">
                <div class="col-md-3">Date</div><!--.col-md-3-->
                <div class="col-md-9">January 20, 2018 1:23pm</div><!--.col-md-9-->
              </div><!--.row-->
              <div class="row">
                <div class="col-md-3">Logged by</div><!--.col-md-3-->
                <div class="col-md-9">Joe Tebaldi</div><!--.col-md-9-->
              </div><!--.row-->
              <div class="legend">Notes</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="note note-info note-left-striped">
                    <p>These are notes.</p>
                  </div>
                </div>
              </div><!--.row-->
            </div>
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-flat-primary" data-dismiss="modal">DONE</button>
        </div>
      </div>
    </div>
  </div><!--.modal-->