<!-- ASIDE Text -->
<aside class="aside aside-lg aside-expand-lg">
  <div class="aside-body pt-0">
    <div class="media-list media-list-divided media-list-hover">

      <header class="media-list-header b-0">
        <form class="lookup lookup-lg w-100 bb-1 border-light">
          <input class="w-100 no-radius no-border py-30" type="text" placeholder="Search..." data-provide="media-search">
        </form>
      </header>

      <div class="media-list-body">
        <a class="media align-items-center active" href="#">
          <span class="avatar status-success">
            <img src="../assets/img/avatar/1.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Maryam Amiri</strong>
              <time datetime="2018-07-14 20:00">12:11</time>
              <span class="badge badge-pill badge-primary">3</span>
            </div>
            <p class="text-truncate">You need to update the changelog in documentation before we release the current version.</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-warning">
            <img src="../assets/img/avatar/2.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Patric Johnson</strong>
              <time datetime="2018-07-14 20:00">09:34</time>
              <span class="badge badge-pill badge-primary">1</span>
            </div>
            <p class="text-truncate">Ok, I'll take care of it</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-danger">
            <img src="../assets/img/avatar/3.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Sarah Conner</strong>
              <time datetime="2018-07-14 20:00">04:29</time>
            </div>
            <p class="text-truncate">Good Morning!</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-warning">
            <img src="../assets/img/avatar/default.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Teisha Hummel</strong>
              <time datetime="2018-07-14 20:00">Yesterday</time>
            </div>
            <p class="text-truncate">Bye</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-success">
            <img src="../assets/img/avatar/5.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Bobby Mincy</strong>
              <time datetime="2018-07-14 20:00">Yesterday</time>
            </div>
            <p class="text-truncate">See you then</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-danger">
            <img src="../assets/img/avatar/6.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Tim Hank</strong>
              <time datetime="2018-07-14 20:00">2 days ago</time>
            </div>
            <p class="text-truncate">Continually grow corporate solutions rather than ethical.</p>
          </div>
        </a>


        <a class="media align-items-center" href="#">
          <span class="avatar status-success">
            <img src="../assets/img/avatar/8.jpg" alt="...">
          </span>
          <div class="media-body">
            <div class="flexbox align-items-center">
              <strong class="title">Fidel Tonn</strong>
              <time datetime="2018-07-14 20:00">2 days ago</time>
            </div>
            <p class="text-truncate">Foster resource maximizing niches before high standards.</p>
          </div>
        </a>
      </div>

    </div>
  </div>

  <button class="aside-toggler"></button>
</aside>
<!-- END ASIDE: Text -->