<!-- ASIDE: Actions -->
<aside class="aside aside-lg aside-expand-md">
  <div class="aside-body">

    <div class="aside-block">
      <h6 class="aside-title">ACTIONS</h6>
    </div>

    <div class="media-list media-list-sm media-list-hover media-list-divided">
      <a class="media flex-column px-20" href="aside-email.html">
        <p>Mass Email</p>
        <small>Send an email blast to multiple contacts</small>
      </a>

      <a class="media flex-column px-20" href="aside-form.html">
        <p>Mass Text</p>
        <small>Send a text blast to multiple contacts</small>
      </a>
    </div>

    <hr class="hr-sm">

    <div class="aside-block">
      <h6 class="aside-title">CONTACTS</h6>
    </div>

    <div class="media-list media-list-hover">

      <div class="media items-center">
        <span class="avatar avatar-sm bg-secondary">LB</span>
        <p class="title">Joe Tebaldi</p>        
        <a class="media-action hover-primary" href="#"><span class="badge badge-pill badge-success"><i class="fa fa-plus"></i></span></a>
      </div>

      <div class="media items-center">
        <span class="avatar avatar-sm bg-secondary">LB</span>
        <p class="title">Paulo Castro</p>        
        <a class="media-action hover-primary" href="#"><span class="badge badge-pill badge-success"><i class="fa fa-plus"></i></span></a>
      </div>

    </div>

  </div>

  <button class="aside-toggler"></button>
</aside>
<!-- END ASIDE: Actions -->