<header class="header">
  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>CRM</strong> Home</h2>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="row">

    <div class="col-md-12">
      <div class="card card-inverse card-danger" id="demo-card-background">
        <header class="card-header">
          <h4 class="card-title"><strong>Needs to change</strong></h4>
          <ul class="card-controls">
            <li><a class="card-btn-close" href="#"></a></li>
          </ul>
        </header>

        <div class="card-body">
          <h2>This page needs to become what is currently <code>/contacts</code></h2>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="/admin/next/contacts">
        <div class="card">
          <div class="card-body">
            <h3>Go to <strong>Contacts</strong></h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="/admin/next/actions">
        <div class="card">
          <div class="card-body">
            <h3>Go to <strong>Mass Actions</strong></h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="/admin/next/recipes">
        <div class="card">
          <div class="card-body">
            <h3>Go to <strong>Recipes</strong></h3>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4">
      <a href="/admin/next/campaigns">
        <div class="card">
          <div class="card-body">
            <h3>Go to <strong>Campaigns</strong></h3>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>