<header class="header">
  <%= render 'next/partials/breadcrumb', link: '/admin/next/contacts', page: 'CRM' %>
  <div class="header-info">
    <div class="left">
      <h2 class="header-title"><strong>Stock Messages</strong></h2>
    </div>
  </div>

  <div class="header-action">
    <div class="buttons">
      <button class="btn btn-primary btn-float" data-toggle="modal" data-target="#modal_new_stock"><i class="ti-plus"></i></button>
    </div>
  </div>
</header>

<div class="main-content">
  <div data-provide="shuffle">
    <div class="text-center" data-shuffle="filter">
      <button class="btn btn-w-sm btn-secondary active" data-shuffle="button">All</button>
      <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="snippet">Snippets</button>
      <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="rich">Rich Text</button>
      <button class="btn btn-w-sm btn-secondary" data-shuffle="button" data-group="html">HTML</button>
    </div>

    <br><br>

    <div class="row" data-shuffle="list">
  
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" data-shuffle="item" data-groups="snippet">
        <div class="card hover-shadow-4">
          <div class="card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox" checked>
                <i class="fa fa-star"></i>
              </label>
            </div>
            <div class="text-center pt-3 pb-3">
              <a href="#">
                <h5 class="mt-3 mb-0">Message Name</h5>
                <span class="text-light">Message type</span>
              </a>
            </div>
          </div>
          <footer class="card-footer">
            <p>Created: {Created date} by {User}</p>
          </footer>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" data-shuffle="item" data-groups="rich">
        <div class="card hover-shadow-4">
          <div class="card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
            </div>
            <div class="text-center pt-3 pb-3">
              <a href="#qv-stock-rich-text" data-toggle="quickview">
                <h5 class="mt-3 mb-0">Welcome Email</h5>
                <span class="text-light">Rich Text</span>
              </a>
            </div>
          </div>
          <footer class="card-footer">
            <p>Created: Aug 10, 2018 by Jim Thornton</p>
          </footer>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" data-shuffle="item" data-groups="snippet">
        <div class="card hover-shadow-4">
          <div class="card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
            </div>
            <div class="text-center pt-3 pb-3">
              <a href="#qv-stock-html" data-toggle="quickview">
                <h5 class="mt-3 mb-0">Gym directions</h5>
                <span class="text-light">Snippet</span>
              </a>
            </div>
          </div>
          <footer class="card-footer">
            <p>Created: Aug 12, 2018 by Joe Shmo</p>
          </footer>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" data-shuffle="item" data-groups="html">
        <div class="card hover-shadow-4">
          <div class="card-body">
            <div class="flexbox align-items-center">
              <label class="toggler toggler-yellow fs-16">
                <input type="checkbox">
                <i class="fa fa-star"></i>
              </label>
            </div>
            <div class="text-center pt-3 pb-3">
              <a href="#qv-stock-html" data-toggle="quickview">
                <h5 class="mt-3 mb-0">7-Day Trial</h5>
                <span class="text-light">HTML</span>
              </a>
            </div>
          </div>
          <footer class="card-footer">
            <p>Created: Jul 8, 2018 by flexx.</p>
          </footer>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Quickviews and Modals -->

<div id="qv-stock-rich-text" class="quickview quickview-xxl backdrop-dark">
  <header class="quickview-header">
    <p class="quickview-title lead">View <strong>Stock Message</strong></p>
    <span class="close"><i class="ti-close"></i></span>
  </header>

  <div class="quickview-body">
    <div class="card-body row">

      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-4 col-form-label">Name</label>
          <div class="col-8">
            <p class="form-control-plaintext">Welcome Email</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-4 col-form-label">Type</label>
          <div class="col-8">
            <p class="form-control-plaintext">Rich Text</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-4 col-form-label">By</label>
          <div class="col-8">
            <p class="form-control-plaintext">Jim Thornton</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-4 col-form-label">Created</label>
          <div class="col-8">
            <p class="form-control-plaintext">Aug 10, 2018</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group row">
          <label class="col-4 col-form-label">Updated</label>
          <div class="col-8">
            <p class="form-control-plaintext">Aug 12, 2018</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="quickview-block bt-1">
    <h5>Contents</h5>
  </div>

  <div class="quickview-body">
    <div class="pr-15 pl-15">
      <p>Welcome to our gym!</p>
      <ul>
        <li>Select a text to reveal the toolbar.</li>
        <li>Edit rich document on-the-fly, so elastic!</li>
      </ul>
      <p>End of air-mode area</p>
    </div>
  </div>

  <footer class="quickview-footer flex-row-reverse">
    <button class="btn btn-danger">Delete</button>
    <button class="btn btn-warning">Edit</button>
  </footer>
</div>

<!-- Modal: New message type -->
<div class="modal modal-center fade" id="modal_new_stock" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New stock message</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Choose a message type:</p>
        <p class="text-center">
          <button class="btn btn-w-md btn-multiline btn-primary"><i class="ti-notepad fs-20"></i><br>Snippet</button>
          <button class="btn btn-w-md btn-multiline btn-primary"><i class="ti-layout-cta-left fs-20"></i><br>Rich Text</button>
          <button class="btn btn-w-md btn-multiline btn-primary"><i class="ti-layout-accordion-separated fs-20"></i><br>HTML</button>
        </p>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>