<!-- Page aside -->
<aside class="aside aside-expand-md">
  <div class="aside-body">

    <div class="aside-block">
      <h6 class="aside-title">Actions</h6>
    </div>

    <div class="media-list media-list-sm media-list-hover media-list-divided">
      <a class="media flex-column px-20" href="#">
        <p>Business Info</p>
        <small>Update general information including logos, address, social media, etc.</small>
      </a>

      <a class="media flex-column px-20" href="#">
        <p>Navigation Menus</p>
        <small>Setup and organize your site menus</small>
      </a>

      <a class="media flex-column px-20" href="#">
        <p>Contact Forms</p>
        <small>Create, update and view current contact forms available.</small>
      </a>

      <a class="media flex-column px-20" href="#">
        <p>Integrations</p>
        <small>Control permissions and access to other applications</small>
      </a>

    </div>

  </div>

  <button class="aside-toggler"></button>
</aside>
<!-- END Page aside -->

<header class="header no-border">
  <div class="header-bar bg-info">
    <h4 class="">Website</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Website</li>
    </ol>
  </div>
</header>

<div class="main-content">
  <div class="row">

    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="#">
            <img class="h-150px" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/5086_-_Web_Shop.png">
          </a>
          <h5 class="mb-1"><a class="hover-info" href="#">Landing Pages</a></h5>
        </div>

        <div class="flexbox flex-justified bt-1 border-light py-12 bg-lightest text-center">
          <a class="text-muted pt-2" href="#">
            <i class="ti-plus fs-25"></i><br>
            Create
          </a>
          <a class="text-muted pt-2" href="#">
            <i class="ti-view-grid fs-25"></i><br>
            View
          </a>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="#">
            <img class="h-150px" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/5086_-_Web_Shop.png">
          </a>
          <h5 class="mb-1"><a class="hover-info" href="#">General Pages</a></h5>
        </div>

        <div class="flexbox flex-justified bt-1 border-light py-12 bg-lightest text-center">
          <a class="text-muted pt-2" href="#">
            <i class="ti-plus fs-25"></i><br>
            Create
          </a>
          <a class="text-muted pt-2" href="#">
            <i class="ti-view-grid fs-25"></i><br>
            View
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="#">
            <img class="h-150px" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/5086_-_Web_Shop.png">
          </a>
          <h5 class="mb-1"><a class="hover-info" href="#">Services</a></h5>
        </div>

        <div class="flexbox flex-justified bt-1 border-light py-12 bg-lightest text-center">
          <a class="text-muted pt-2" href="#">
            <i class="ti-plus fs-25"></i><br>
            Create
          </a>
          <a class="text-muted pt-2" href="#">
            <i class="ti-view-grid fs-25"></i><br>
            View
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="#">
            <img class="h-150px" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/5086_-_Web_Shop.png">
          </a>
          <h5 class="mb-1"><a class="hover-info" href="#">Coaches</a></h5>
        </div>

        <div class="flexbox flex-justified bt-1 border-light py-12 bg-lightest text-center">
          <a class="text-muted pt-2" href="#">
            <i class="ti-plus fs-25"></i><br>
            Create
          </a>
          <a class="text-muted pt-2" href="#">
            <i class="ti-view-grid fs-25"></i><br>
            View
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="#">
            <img class="h-150px" src="https://flexxsirv.sirv.com/8e7fa0231c00fb60b86fba63f0519c90838a643975/5086_-_Web_Shop.png">
          </a>
          <h5 class="mb-1"><a class="hover-info" href="#">Testimonials</a></h5>
        </div>

        <div class="flexbox flex-justified bt-1 border-light py-12 bg-lightest text-center">
          <a class="text-muted pt-2" href="#">
            <i class="ti-plus fs-25"></i><br>
            Create
          </a>
          <a class="text-muted pt-2" href="#">
            <i class="ti-view-grid fs-25"></i><br>
            View
          </a>
        </div>
      </div>
    </div>

  </div>
</div>