<!-- Page aside -->
<aside class="aside aside-expand-md">
  <div class="aside-body">

    <div class="aside-block">
      <h6 class="aside-title">CREATE</h6>
    </div>

    <div class="media-list media-list-sm media-list-hover media-list-divided">

      <a class="media flex-column px-20" href="/admin/next/membership/new#membership">
        <p>New Membership</p>
        <small>Create a new membership option</small>
      </a>

      <a class="media flex-column px-20" href="/admin/next/membership/new#product">
        <p>New Product / Service</p>
        <small>Add a new product or service offering for one-time purchase</small>
      </a>

      <a class="media flex-column px-20" href="/admin/next/membership/new#package">
        <p>New Package</p>
        <small>Combine memberships, products and more in a promotional package</small>
      </a>

    </div>

    <hr class="hr-sm">

    <div class="aside-block">
      <h6 class="aside-title">ADD-ONS</h6>
    </div>

    <div class="media-list media-list-sm media-list-hover media-list-divided">

      <a class="media flex-column px-20" href="#">
        <p>Coupons</p>
        <small>View, create and manage your coupons</small>
      </a>

      <a class="media flex-column px-20" href="#">
        <p>Discounts</p>
        <small>View, create and manage discounts</small>
      </a>

    </div>

    <hr class="hr-sm">

    <div class="aside-block">
      <h6 class="aside-title">Support</h6>
    </div>

    <div class="media-list media-list-sm media-list-hover media-list-divided">
      <a class="media flex-column px-20" href="#">
        <p>Tour</p>
        <small>Take a guided tour</small>
      </a>
    </div>

  </div>

  <button class="aside-toggler"></button>
</aside>
<!-- END Page aside -->

<header class="header">

  <div class="header-info">
    <div class="left">
      <h2 class="header-title">Manage your <strong>Offerings</strong></h2>
    </div>
  </div>

  <div class="header-action">
    <nav class="nav">
      <a class="nav-link active" data-toggle="tab" href="#tab-memberships">Memberships <small>(2)</small></a>
      <a class="nav-link" data-toggle="tab" href="#tab-products">Products / Services <small>(3)</small></a>
      <a class="nav-link" data-toggle="tab" href="#tab-packages">Packages <small>(1)</small></a>
    </nav>
  </div>
</header>

<div class="main-content">
  <div class="tab-content" id="membership-tab-content">

    <div class="tab-pane fade active show" id="tab-memberships">

      <div class="card b-1 hover-shadow-2 mb-20">
        <a class="media card-body" href="/admin/next/membership/view">

          <div class="media-body">
            <div class="mb-2">
              <span class="fs-20 pr-16">Unlimited Membership</span>
              <!-- <span class="badge badge-success text-uppercase no-radius ls-1 opacity-75">Full-time</span> -->
            </div>
            <small class="fs-16 fw-300 ls-1">This membership allows members unlimited access to the facility and ability to book any class at any time</small>
          </div>

          <div class="media-right text-right d-none d-md-block">
            <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> All Locations</p>
            <span class="text-fade fs-12">Enrolled: <strong>113</strong></span>
          </div>
        </a>

        <footer class="card-footer flexbox align-items-center">
          <div>
            <strong>Status:</strong>
            <span>Active</span>
          </div>
          <div class="card-hover-show">
            <a class="btn btn-xs fs-10 btn-bold btn-secondary" href="#">Edit</a>
            <a class="btn btn-xs fs-10 btn-bold btn-danger" href="#">Deactivate</a>
          </div>
        </footer>
      </div>

      <div class="card b-1 hover-shadow-2 mb-20">
        <a class="media card-body" href="#">

          <div class="media-body">
            <div class="mb-2">
              <span class="fs-20 pr-16">12 Classes per month</span>
              <!-- <span class="badge badge-success text-uppercase no-radius ls-1 opacity-75">Full-time</span> -->
            </div>
            <small class="fs-16 fw-300 ls-1">This membership allows members to book up to 12 classes in a single billing cycle</small>
          </div>

          <div class="media-right text-right d-none d-md-block">
            <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> Uptown, <span style="text-decoration: dotted underline;">+3 more</span></p>
            <span class="text-fade fs-12">Enrolled: <strong>0</strong></span>
          </div>
        </a>

        <footer class="card-footer flexbox align-items-center">
          <div>
            <strong>Status:</strong>
            <span>Pending approval</span>
          </div>
          <div class="card-hover-show">
            <a class="btn btn-xs fs-10 btn-bold btn-secondary" href="#">Edit</a>
            <a class="btn btn-xs fs-10 btn-bold btn-danger" href="#">Delete</a>
          </div>
        </footer>
      </div>

    </div>

    <div class="tab-pane fade" id="tab-products">

    </div>

    <div class="tab-pane fade" id="tab-packages">

    </div>

  </div>
</div>

<!------------------------------------- MODALS ---------------------------------------->
