<div class="nav-bar-container">

  <!-- BEGIN ICONS -->
  <div class="nav-menu">
    <div class="hamburger">
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
    </div><!--.hamburger-->
  </div><!--.nav-menu-->

  <div class="nav-search">
    <span class="search"></span>
  </div><!--.nav-search-->

  <div class="nav-branding">
    <!-- INSERT RUBY:: LIGHT FLEXX LOGO W/ BLUE PERIOD -->
    <img src="https://d15fieipd5pxyz.cloudfront.net/flexxco/flexx_final_light_copy.png" alt="Light Line Logo">	
  </div>

  <div class="nav-user">
    <div class="user">
      <!-- INSERT RUBY:: USER PROFILE IMAGE -->
      <div class="avatar-circle">
        <div class="initials">JT</div>
      </div>
      <!-- <img src="../../assets/globals/img/faces/tolga-ergin.jpg" alt=""> -->
    </div><!--.user-->
    <div class="cross">
      <span class="line"></span>
      <span class="line"></span>
    </div><!--.cross-->
  </div><!--.nav-user-->
  <!-- END OF ICONS -->

  <div class="nav-bar-border"></div><!--.nav-bar-border-->

  <!-- BEGIN OVERLAY HELPERS -->
  <div class="overlay">
    <div class="starting-point">
      <span></span>
    </div><!--.starting-point-->
    <div class="logo">
      <!-- TO DO:: Fix Styling of logo to display correctly -->
      <!-- TO DO:: Fix logo appearing too fast and disappearing too slow -->
      <!-- INSERT RUBY:: LIGHT FLEXX LOGO W/ GRAY PERIOD -->
      <img src="https://d15fieipd5pxyz.cloudfront.net/flexxco/flexx_final_light_copy.png" alt="Light Line Logo">
    </div><!--.logo-->
  </div><!--.overlay-->

  <div class="overlay-secondary"></div><!--.overlay-secondary-->
  <!-- END OF OVERLAY HELPERS -->

</div><!--.nav-bar-container-->